.root {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	width: 100vw;
	height: 100vh;

	padding-top: 10px;
}

.upload__button {
	display: inline-block;
	height: fit-content;
	padding: 0;
}
.upload__label {
	padding: 1px 6px;
}
.upload__input {
	display: none;
}

.preview {
	display: flex;
	margin: 16px 0;
}
